.App {
  text-align: center;
}

.App-header {
  background-color: #044377;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Token-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.Featured-image {
  width: 50%; 
  height: auto;
  border-radius: 10px;
}

TokenDetailsList {
  list-style: none;
  padding: 0;
}

TokenDetailsList li {
  margin: 10px 0;
}

.ConnectButton {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.ConnectButton:hover {
  background-color: #35c0f6;
}

.App-title {
  color: #fdfdfc; /* Dark text color for better contrast */
  font-size: 8rem; /* 3rem is quite large; adjust as needed */
  text-align: center; /* Center the title */
  margin-top: 2rem; /* Space above the title */
  font-family: 'Roboto', 'Arial', sans-serif;
  text-shadow: 2px 2px 4px #aaa; /* Optional shadow for a "raised" effect */
}
